<!DOCTYPE html>

<html ng-app="myApp">

<head>
  <script src="http://code.angularjs.org/1.1.5/angular.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui/0.4.0/angular-ui.min.js"></script>
  <script src="script.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body ng-controller="mainController" ng-init="init()">

<style>
  .outputField {
    display: inline-block;
    border: 1px solid #EEE;
    padding: 2.3pt;
  }
</style>

<div>
  API key <input ng-model="apiKey"></input>=<div ng-bind="apiKey" class="outputField"></div>
</div>

  <input type="text" ng-model="query" placeholder="Search by name">
  <select ng-model="discountFilter" ng-options="dsc for dsc in availableDiscounts">
    <option value="">Search by discount</option>
  </select>

  <!-- Start Table -->

  <table class="table table-striped">
    <thead>
              <tr>
                <th>#</th>
                <th>Name</th>
                <th>Principal Amt</th>
                <th>Valuation Cap</th>
                <th>Discount</th>
              </tr>
  </thead>
  <tbody>
    <tr ng-repeat="classes in results | filter:{gsx$name.$t: query} | filter:{gsx$discount.$t: discountFilter} | orderBy:orderProp" class="{{classes.gsx$vu.$t}}">
      <td>{{classes.gsx$name.$t}}</td>
      <td>{{ classes.gsx$principal.$t || 'N/A' }}</td>
      <td> Discount : {{ classes.gsx$discount.$t || 'N/A' }}</td>
    </tr>
  </tbody>
</table>

</body>

</html>
